* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #141414;
  /* color: #fff; */
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #141414;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.search {
  background-color: transparent;
  font-family: inherit;
  font-size: 1.2rem;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.search :focus {
  outline: 0;
}

.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  background-color: #2e2e2e;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1rem;
  width: 300px;
  position: relative;
}

.movie img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}

.movie-price {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-price h4 {
  margin: 0;
}

.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.movie-info h3 {
  margin: 0;
}

.movie-overview {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #696969;
  color: #fff;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  overflow: auto;
  max-height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}

.movie:hover .movie-overview {
  opacity: 0.9;
}

.movie-price {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #2e2e2e;
  color: #fff;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  overflow: auto;
  max-height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}

.movie:hover .movie-price {
  opacity: 1;
}

.cart {
  background-color: #141414;
  padding: 0.5rem;
  margin-left: auto;
  cursor: pointer;
}

img.cart-icon {
  height: auto;
  width: 30px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

.price-tag {
  color: #fff;
  background-color: #141414;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.input-price {
  background-color: transparent;
  font-family: inherit;
  font-size: 1.2rem;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.2rem 1rem;
  width: 100px;
}

.tag {
  background-color: #141414;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.tag.green {
  color: rgb(90, 216, 90);
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}

.my-modal-content {
  display: flex;
  justify-content: space-between;
}

.discount {
  color: red;
  font-weight: bold;
}

.sumTotalPrice {
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: x-large;
}
